@import './navigation.scss';
@import './home.scss';
@import './chatList.scss';

.Loading {
}

.Main {
	min-width: 320px;
	margin: 0px auto;
	margin-bottom: 50px;
}

button {
	background-color: transparent;
	border: transparent;
}

a {
	text-decoration: none;
	color: black;
}
